<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            width: 100%;
            height: 100%;
            background: url("/static/img/beijing.png");
            background-size: cover;
            display: flex;
            align-items: center;
        }

        .logodiv {
            width: 400px;
            height: 200px;
            margin: auto;
            background: rgba(123,123,123,0.5);
        }
    </style>
</head>
<body>
<div class="logodiv">
    <h3 style="width: 100%;height: 50px;text-align: center;">国地税联合办税系统</h3>
    <a href="/login/">去登录</a>
</div>
</body>
</html>